<h2>Import</h2>

<%= form_for @conn, project_project_path(@conn, :new_import), [multipart: true], fn f -> %>
  <%= label f, :file, class: "control-label" %>
  <%= file_input f, :file, class: "form-control" %>
  <%= error_tag f, :file %>

  <div class="form-group">
    <%= submit "Submit", class: "btn btn-primary" %>
  </div>
<% end %>

<span><%= link "Back", to: project_project_path(@conn, :index) %></span>
