<div id="dependency_graph">
</div>

<script src="<%= static_path(@conn, "/js/app.js") %>"></script>
<script>require("js/dependency_graph/dependency_graph_renderer.ts").DependencyGraphRenderer.run();</script>
