.nav-button:hover {
    text-decoration: none;
    background-color: #eee;
}

.nav-button {
    border-radius: 4px;
}

.nav-button {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav-button:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.nav-button:focus, .nav-button:hover {
    color: #23527c;
    text-decoration: underline;
}

.nav-button {
    border: none;
    background: inherit;
    color: #337ab7;
}

form.bare {
    margin: 0 0 0 0;
}

.call-to-action:hover {
    text-decoration: none;
    background-color: #eee;
}

.call-to-action {
    font-weight: bolder;
    border-radius: 4px;
}

.call-to-action {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.call-to-action:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.call-to-action:focus, .call-to-action:hover {
    color: #23527c;
    text-decoration: underline;
}

.call-to-action {
    border: none;
    background: inherit;
    color: #337ab7;
}

