html body {
    margin: 0px;
}

nav ul {
    margin: 0px;
}

.header > nav > h1 {
    white-space: nowrap;
    display: inline;
    font-weight: bold;
}

.nav-buttons {
    display: inline;
}

.nav-buttons > .nav-button {
    display: inline;
}

.nav-buttons > .nav-button:disabled {
    filter: grayscale(100%);
}

.header > nav > a > img {
    margin-left: 1ex;
    vertical-align: text-bottom;
}

.message > div, .message > span {
    margin: 1ex;
}

.editable:hover::after {
    content: "✎";
}

.nav-button:hover {
    text-decoration: none;
    background-color: #eee;
}

.nav-button {
    border-radius: 4px;
}

.nav-button {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.nav-button:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.nav-button:focus, .nav-button:hover {
    color: #23527c;
    text-decoration: underline;
}

.nav-button {
    border: none;
    background: inherit;
    color: #337ab7;
}

.form-group > .nav-button {
    display: inline;
}

form.bare {
    margin: 0 0 0 0;
}

input.form-control[type="file"] {
    border: none;
    background-color: inherit;
    box-shadow: none;
    height: auto;
    width: auto;
    display: inline;
}

.call-to-action:hover {
    text-decoration: none;
    background-color: #eee;
}

.call-to-action {
    font-weight: bolder;
    border-radius: 4px;
}

.call-to-action {
    position: relative;
    display: block;
    padding: 10px 15px;
}

.call-to-action:focus {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px;
}

.call-to-action:focus, .call-to-action:hover {
    color: #23527c;
    text-decoration: underline;
}

.call-to-action {
    border: none;
    background: inherit;
    color: #337ab7;
}

.actionable {
    cursor: pointer;
}

#dependency_graph {
    display: table-cell;
}

svg#techtree-graph {
    position: absolute;
}

.overlay {
    background: rgba(0,0,0,0.5);
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    position: absolute;
}

input.invalid {
    border-color: red;
}

.popup {
    background-color: white;
    margin: 2ex;
    border-radius: 2px;
    padding: 2ex;
    box-shadow: 0px 0px 3px 3px rgba(0,0,0, 0.3);
    border: none;
    width: 90vw;
}

.popup > form {
    width: 70vw;
    margin: auto;
}

.popup h1 {
    margin-top: 2ex;
    margin-bottom: 2ex;
}

.popup .body {
    margin-left: 2ex;
    margin-right: 2ex;
}

.popup h1 a {
    cursor: pointer;
    text-decoration: underline;
}

.popup h1 a:not(.navigation) {
    color: inherit;
}

.popup h1 a {
    text-decoration: none;
}

span.ready {
    border-bottom: 2px solid #222;
}

span.loading {
    border-bottom: 2px dashed #222;
}

.secondary {
    font-size: small;
}

.action-button {
    border: 1px solid #888;
    margin: 1ex;
    padding: 0.5ex;
    background: rgba(0,0,0,0.1);
    border-radius: 3px;
}

.action-button:hover {
    background: rgba(0,0,0,0.8);
    color: #eee;
}

.action-button:disabled, .action-button:disabled {
    background: repeating-linear-gradient(45deg,#AAA,#AAA 10px,#eee 10px,#eee 20px);
    color: #222;
}

.action-button:disabled:hover, .action-button:disabled:hover {
    color: #222;
}

select:disabled {
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;

    background-color: #f1f1f1;
    border: 1px solid #b6b6b6;
    border-radius: 4px;

    padding: 0.5ex;
}

.form-group .warning, .form-group .warning:focus, .form-group .warning:hover {
    border: 1px solid #ff3100;
    box-shadow: 0px 0px 5px 1px #ff3100;
}

.form-group.add-step-name > .help-block {
    display: inline;
    margin-left: 1ex;
}

.form-group button.warning {
    background-color: #ff3100;
    box-shadow: inherit;
}

.value {
    font-weight: bold;
    text-decoration: underline;
    margin: 2ex;
}

.completion label {
    font-weight: normal;
}

.description {
    font-family: 'Courier New', Courier, monospace;
    cursor: pointer;
}

button.dangerous {
    background-color: #ff4444;
    border: 1px solid #ce6060;
    color: white;
}

button.dangerous:hover {
    background-color: #ff0000;
    border: 1px solid #ff4444;
    color: white;
}

li {
    list-style: none;
}

button.list-index {
    margin-right: 1ex;
    width: 16px;
    height: 18px;
    padding: 0;
    display: inline;
}

button.list-index svg {
    display: inline;
    width: 100%;
    height: 100%;
}

button.loading {
    background: linear-gradient(to left, rgba(0,0,0,0.8) 50%,#548A00 50%);
    color: white;
}

button.loading:hover {
    background: linear-gradient(to left, rgba(0,0,0,0.8) 50%,#548A00 50%);
    color: white;
}

button.loaded {
    background: #548A00;
    color: white;
}

button.loaded:hover {
    background: #548A00;
    color: white;
}

button.error {
    background: #ff0000;
    color: white;
}

button.error:hover {
    background: #ff0000;
    color: white;
}

.completion-marker {
    width: 0;
    font-style: italic;
    color: #548A00;
}

.title.completed::before {
    content: "Complete!";
    font-style: italic;
    color: #548A00;
    font-size: medium;
    margin-left: 2ex;
}

textarea.description {
    width: 100%;
    border: none;
    background-color: transparent;
    resize: none;
    outline: none;
    overflow-y: hidden;
}

textarea.description:focus {
    border: 1px solid #bbb;
}

textarea.loading {
    border: 2px dashed #222;
}

/* Graph styles */
.use-as-dependency-node, .add-dependency-node {
    stroke-width: 2px;
    fill: transparent; /* Transparent, not none, to allow easier selection */
}

svg#techtree-graph a {
    text-decoration: none;
}

path {
    pointer-events: none;
}

/* States */
.step-node > text {
    fill: black;
    stroke: none;
    font-size: larger;
}
.step-node:hover > text {
    fill: white;
}

.step-node > rect {
    fill: white;
    stroke-width: 1px;
}

.state-to-do > rect {
    stroke: #000000;
    stroke-width: 0.5px;
    filter: drop-shadow(0 0 2px #222);
}
.state-to-do:hover > rect {
    fill: #000000;
}
path.state-to-do {
    stroke: #000000;
}

.state-completed > rect {
    stroke: #548A00;
    stroke-width: 0.5px;
    filter: drop-shadow(0 0 2px #548A00);
}
.state-completed:hover > rect {
    fill: #548A00;
}
path.state-completed {
    stroke: #548A00;
}

.state-work-in-progress > rect {
    stroke: #337ab7;
    stroke-width: 0.5px;
    filter: drop-shadow(0 0 2px #337ab7);
}
.state-work-in-progress:hover > rect {
    fill: #337ab7;
}
path.state-work-in-progress {
    stroke: #337ab7;
}

.state-archived > rect {
    stroke:  #a13900;
    stroke-width: 0.5px;
    filter: drop-shadow(0 0 2px #a13900);
}
.state-archived:hover > rect {
    fill:  #a13900;
}
path.state-archived {
    stroke:  #a13900;
}

/* Step nodes */
circle.state-to-do {
    fill: #222;
}

circle.state-completed {
    fill: #74AA20;
}

circle.state-work-in-progress {
    fill: #539ad7;
}

circle.state-archived {
    fill: #c15920;
}

/* Handles are transparent */
circle.drag-handle {
    fill: transparent;
    stroke: transparent;
    cursor: pointer;
}

circle.drag-handle:hover {
    stroke: #222;
    stroke-width: 2px;
}

g.state-to-do > circle.drag-handle:hover {
    stroke: #000;
}

g.state-completed > circle.drag-handle:hover {
    stroke: #548A00;
}

g.state-archived > circle.drag-handle:hover {
    stroke: #a13900;
}

g.state-work-in-progress > circle.drag-handle:hover {
    stroke: #337ab7;
}

.purely-visual-component {
    pointer-events: none;
}