<h2>Edit Step</h2>

<%= render "form.html", Map.put(assigns, :action, project_step_path(@conn, :update, @project, @step)) %>

<span><%= link "Back", to: project_project_path(@conn, :show, @project.id) %></span>
