<h2>New Step</h2>

<%= render "form.html", Map.put(assigns, :action, project_step_path(@conn, :create, @project.id)) %>

<span><%= link "Back", to: project_step_path(@conn, :index, @project.id) %></span>
